<p id="notice"><%= notice %></p>

<p>
  <b>Recordid:</b>
  <%= @news.recordId %>
</p>

<p>
  <b>Title:</b>
  <%= @news.title %>
</p>

<p>
  <b>Body:</b>
  <%= @news.body %>
</p>

<p>
  <b>Date:</b>
  <%= @news.date %>
</p>

<p>
  <b>Newsimageurl:</b>
  <%= @news.newsImageUrl %>
</p>


<!--<%= link_to 'Edit', edit_news_path(@news) %> |-->
<%= link_to 'Back', news_index_path %>
